.navbar {
opacity: 70%;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
.wrapper {
    background: url("/gettyimages-166319867-2048x2048.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 200%;
    background-repeat: no-repeat;
}

.threadDisplay{
margin-left: 50px;
}


.threads {
    margin-left: 50px;
    color: white;
}

.sitelinks {
    justify-content: flex-end;
}

.sitename {                                                                                                                                                                                                                                                                                                                                                                                                                                                 
    padding-left: 20px;
    justify-content: flex-start;
}

.sitename a {
    color: black;
}

.homepage h3 {
    justify-content: center;
}