<h2><%= threads.title %></h2>

<% threads.forEach(thread => { %>
    <div>
        <h3><%= thread.title %></h3>

        <p>Poster <%= thread.user_name %> <%= moment(thread.createdAt).calendar() %></p>
        
    
    </div>
<% }) %>